<!DOCTYPE html>
<html lang="pl-PL">
<head>
        <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=iso-8859-2">
</head>


 <div class="panel panel-default">

  <div class="panel-heading"><span class="lead" >Historia zamówień </span></div>
  <div class="panel-body">
      <div class="table-responsive">
            <table class="table">
                    <thead>
              <tr>
                  <th>Lp.</th>
                  <th>Data</th>
                  <th>Przedmiot Zamówienia</th>
                  <th>Ilość soku [ml]</th>
                  <th>Cena</th>
              </tr>
              </thead>
              <tbody>




                  
               
                    <tr *ngFor="let item of orders">
                        

                          <td>  <div *ngFor="let emp of orders">
                                    <tr *ngFor="let items of emp.orders">
                                     <td>{{items.orders_id }}</td>
                                    </tr>
                                 </div>
                                </td>

                                <td>  <div *ngFor="let emp of orders">
                                        <tr *ngFor="let items of emp.orders">
                                         <td>{{items.date | date :  "dd.MM.y.HH.mm " }}</td>
                                        </tr>
                                     </div>
                                    </td>

<td>{{item.name}}</td>
<td>{{item.quantity}}</td>
<td>{{item.price}}</td>



                  
                    </tr>
              </tbody>
          </table>      
      </div>
  </div>
</div>




<app-add-order></app-add-order>